.git
.gitignore
README.md
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.venv
markily_env/
.vscode
.idea
*.db
data/
.DS_Store
Dockerfile
docker-compose.yml
.dockerignore
deploy.sh
start_bot.sh
